<script type="text/javascript">
	function warning(msg) {
		window.alert(msg);
	}
</script>
<%
year = (semester+1)/2
sem = (semester+1)%2+1
numUnits = session[:semesters][semester-1].length
%>
<div class="thumbnail">
	<h3><center>Year <%=year%> Semester <%=sem%></center></h3>

	<div class="caption">
		<!-- display units of current semester. This need to be modify to "semester compatible". -->
		<% session[:semesters][count.to_i].each_with_index do |uid, i| %>
			<% if session[:semesters][semester-1][i].to_i > 0 %>
				<p><%= get_streamunit_name(uid) %></p>
			<% end %>
		<% end %>

		<!-- below is for display purpose only. -->

		<!-- buttons -->
		<p><center>
			<% if numUnits < 4 %>
				<a href="#" class="btn btn-primary" role="button">Add</a>
			<% end %>
			<% if numUnits > 0 %>
				<a href="#" class="btn btn-default" role="button">Remove</a>
			<% end %>
			<% if numUnits < 4 %>
				<%= link_to "Done", "#", data: { confirm: "You have not enrol in full credit! Are you sure?" }, class: "btn btn-default" %>
			<% end %>
		</center></p>
	</div>
</div>