<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<% content_for :title, "Enrolment Planner" %>
    <style type="text/css">
    a {
	font-size: 12px;
}
    </style>
    
	<style type="text/css">
		#container 
		{
			width: 960px;
			margin: 0 auto;
			border: 1px solid #000000;
			text-align: left;
			height: 720px;
			max-width: 960px;
			max-height: 720px;
		} 
		
		#planner
		{
		float: left;
		height: 500px;
		overflow: auto;
		}
		
		#streamSem
		{
			float: left;
			position: relative;
			left: 45px;
		}
		
		#options
		{
			float: left;
			position: relative;
			left:45px;
		}
		
		#remUnits
		{
	position: relative;
	height: 450px;
	bottom: 10px;
	top: 40px;
		}
		
		#downloadEmail
		{
			
		}
		
		

    </style>
	<link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
	
  <div class="header">
			<p><a href="#"><img src="images/" alt="Insert Logo Here" name="Insert_logo" width="180" height="90" id="Insert_logo" style="background-color: #C6D580; display:block;" title="Enrolment Planner"  /></a></p>
  </div>
  
  
  
  <table width="850" height="598" border="1"> <!-- 1st table 1x2 starts here -->
  <tr>
    <th width="659" height="592" align="left" scope="col">     
   
      	

      <div id="streamSem"> <!-- stream semester and completed units section starts here -->
        <p>
        <label for="streamSelect">Choose your stream:</label>
        <!-- This ruby method retrieves the list of courses from database and displays as SELECT OPTION. -->
        <%= select_tag "streamSelect", options_from_collection_for_select(@courselist, "id", "courseName") %>

        <label for="semSelect">Select starting semester:</label>
        <select name="semSelect" id="semSelect">
          <option value="1">Semester 1</option>
          <option value="2">Semester 2</option>
        </select>
        <br>
		<p> Please click here to select completed units: <input type="button" value="Select Completed Units">
      </p>
      </div>	<!-- stream semester and completed units section ends here -->
     

      <div class id="planner">  <!-- planner section starts here -->
      
      <div class="sems sem1">
        <p><center> Year 1 Semester 1</p>
		<div id="semUnits">
      	<table width="245" height="124" border="1">
        <tr>
          <th width="188" height="23" scope="col">Unit Name</th>
          <th width="41" scope="col">Points</th>
        </tr>
        <tr>
          <th height="93" scope="row">&nbsp;</th>
          <td>&nbsp;</td>
        </tr>
      	</table>
      	</div>
        <div id="unitButtons">
      <input type="button" name="addButton" id="addButton" value="Add">
      <input type="button" name="removeButton" id="removeButton" value="Remove">
      <input type="button" name="doneButton" id="doneButton" value="Done">
      </div>
      </div>
      
      <div class="sems sem2">      
      <p><center>Year 1 Semester 2</p>
      <div id="semUnits">
<table width="245" height="124" border="1">
        <tr>
          <th width="188" height="23" scope="col">Unit Name</th>
          <th width="41" scope="col">Points</th>
        </tr>
        <tr>
          <th height="93" scope="row">&nbsp;</th>
          <td>&nbsp;</td>
        </tr>
      	</table>
       </div>
      <div id="unitButtons">
      <input type="button" name="addButton" id="addButton" value="Add">
      <input type="button" name="removeButton" id="removeButton" value="Remove">
      <input type="button" name="doneButton" id="doneButton" value="Done">
      </div>
	  </div>
      
      
      <div class="sems sem1 yr2">
      <p><center>Year 2 Semester 1</p>
      <div id="semUnits">
      	<table width="245" height="124" border="1">
        <tr>
          <th width="188" height="23" scope="col">Unit Name</th>
          <th width="41" scope="col">Points</th>
        </tr>
        <tr>
          <th height="93" scope="row">&nbsp;</th>
          <td>&nbsp;</td>
        </tr>
      	</table>
      	</div>
      <input type="button" name="addButton" id="addButton" value="Add">
      <input type="button" name="removeButton" id="removeButton" value="Remove">
      <input type="button" name="doneButton" id="doneButton" value="Done">
	  </div>
      
      <div class="sems sem2 yr2">      
      <p><center>Year 2 Semester 2</p>
      		<div id="semUnits">
      	<table width="245" height="124" border="1">
        <tr>
          <th width="188" height="23" scope="col">Unit Name</th>
          <th width="41" scope="col">Points</th>
        </tr>
        <tr>
          <th height="93" scope="row">&nbsp;</th>
          <td>&nbsp;</td>
        </tr>
      	</table>
      	</div>
      <input type="button" name="addButton" id="addButton" value="Add">
      <input type="button" name="removeButton" id="removeButton" value="Remove">
      <input type="button" name="doneButton" id="doneButton" value="Done">
	  </div>
      
      <!-- if semesters > 4.. add a semester -->
      <div class="sems sem1 yr3">
      <p><center>Year 2 Semester 2</p>
            		<div id="semUnits">
      	<table width="245" height="124" border="1">
        <tr>
          <th width="188" height="23" scope="col">Unit Name</th>
          <th width="41" scope="col">Points</th>
        </tr>
        <tr>
          <th height="93" scope="row">&nbsp;</th>
          <td>&nbsp;</td>
        </tr>
      	</table>
      	</div>
      <input type="button" name="addButton" id="addButton" value="Add">
      <input type="button" name="removeButton" id="removeButton" value="Remove">
      <input type="button" name="doneButton" id="doneButton" value="Done">
	  </div>
     
      <div class="sems sem2 yr3">
      <p><center>Year 2 Semester 2</p>
            		<div id="semUnits">
      	<table width="245" height="124" border="1">
        <tr>
          <th width="188" height="23" scope="col">Unit Name</th>
          <th width="41" scope="col">Points</th>
        </tr>
        <tr>
          <th height="93" scope="row">&nbsp;</th>
          <td>&nbsp;</td>
        </tr>
      	</table>
      	</div>
      <input type="button" name="addButton" id="addButton" value="Add">
      <input type="button" name="removeButton" id="removeButton" value="Remove">
      <input type="button" name="doneButton" id="doneButton" value="Done">
	  </div>
     
      <div class="sems sem1 yr4">     
      <p><center>Year 2 Semester 2</p>
	        		<div id="semUnits">
      	<table width="245" height="124" border="1">
        <tr>
          <th width="188" height="23" scope="col">Unit Name</th>
          <th width="41" scope="col">Points</th>
        </tr>
        <tr>
          <th height="93" scope="row">&nbsp;</th>
          <td>&nbsp;</td>
        </tr>
      	</table>
      	</div>
      <input type="button" name="addButton" id="addButton" value="Add">
      <input type="button" name="removeButton" id="removeButton" value="Remove">
      <input type="button" name="doneButton" id="doneButton" value="Done">
	  </div>
      
      <div class="sems sem2 yr4">     
      <p><center>Year 2 Semester 2</p>
	  	        		<div id="semUnits">
      	<table width="245" height="124" border="1">
        <tr>
          <th width="188" height="23" scope="col">Unit Name</th>
          <th width="41" scope="col">Points</th>
        </tr>
        <tr>
          <th height="93" scope="row">&nbsp;</th>
          <td>&nbsp;</td>
        </tr>
      	</table>
      	</div>
      <input type="button" name="addButton" id="addButton" value="Add">
      <input type="button" name="removeButton" id="removeButton" value="Remove">
      <input type="button" name="doneButton" id="doneButton" value="Done">
	  </div>
   
   </div>  <!-- planner section ends here -->
    </th>
    
    <th width="175" scope="col">   
    <div id="remaining"> <!-- remaining section starts here -->
   	<h3> Remaining Units </h3>
 <div class="remUnits">
    
    <table width="175" border="1">
  <tr>
    <th height="446" scope="col">    
   
    </th>
  </tr>
</table>
</div>
 <input type="button" name="unitDetails" id="unitDetails" value="View Unit Details">
   	</div> <!-- remaining section ends here -->
    </th>
  </tr>	
  </table> <!-- 1st table 1x2 ends here -->
 
  <table width="850" border="1"> <!-- 2nd table 1x3 starts here -->
  <tr>
    <td width="326" height="137">
    <div id="downloadEmail">
    <h4> Download & Email </h4>
    <p> 
      <label>
        <input type="checkbox" name="download" value="checkbox" id="dlPDF">
        PDF</label>
      <label>
        <input name="download" type="checkbox" class="dl" id="dlCSV" value="checkbox">
        CSV</label>
    </p>
<input type="email"><input type="button" name="eButton" id="eButton" value="Email">
<br>
 <input name="dlButton" type="button" class="dl" id="dlButton" value="Download">
    </div>
    </td>

    <td width="327">
    <div class id="upload"> <!-- upload section starts here -->
    <h4> <center>Upload your CSV</h4>
    <input type="text"><input type="button" name="browseButton" id="browseButton" value="Browse">
<br>
 <input name="uploadButton" type="submit" class="subm" id="submitCSV" value="Submit">
    </div>   <!-- upload section ends here -->
    </td>
    
    <td width="175">
    <div class id="credit"> <!-- credit section starts here -->
    <h4> <center>Credit Points </h4>
    <div class="cPoints"
    <p> Completed   </p>
    <p>   Planned </p>
    <p> Remaining </p>
    </div>
    </div> <!-- credit section ends here -->
    </td>
  </tr>
  </table> <!-- 2st table 1x3 ends here -->

  
        
</div>
</body>
</html>
