<div class = "container">			<!--select stream begins-->

	<center>
		<div class = "jumbotron" style="width:75%">

			<div class="container">
				<h2>Hello, Welcome to Enrolment Planer</h2>
			</div>

			<br>
			<%= form_tag :action => "unit_chooser" do %>
			<div class="container">
				<h4 align="left">Please select your stream</h4>

				<%= select_tag "streamSelect", options_from_collection_for_select(@streams, "id", "streamName"), multiple: false, class: 'form-control input-lg' %>
				<br>

				<%= submit_tag "Proceed", class: "btn btn-success pull-right", style: "width:150px" %>
			<% end %>
			</div>

		</div>

	</center>

</div>					<!--select steam ends-->



<%= render partial: "master_layouts/footer" %>