<!DOCTYPE HTML>
<html>

	<body>

	<div class = "navbar navbar-inverse navbar-static-top">			<!--nav bar begins-->

		<div class = "container">

			<div class = ".navbar-header">

				<a href = "#" class = "navbar-brand">Enrolment Planner</a>

				<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
				</button>
			</div>

			<div class = "collapse navbar-collapse navHeaderCollapse">

				<ul class = "nav navbar-nav navbar-right">

					<li class = "active"><a href="#">Planner</a></li>
					<li><a href="#">Admin</a></li>

				</ul>

			</div>

		</div>

	</div>			<!--nav bar ends-->

	<div class="container">				<!--admin login begings-->

		<form class="form-inline" role="form" align="right">
			<label>Admin Login</label>
		  <div class="form-group">
		    <label class="sr-only" for="email">Email address</label>
		    <input type="email" class="form-control" id="email" placeholder="Staff ID">
		  </div>
		  <div class="form-group">
		    <label class="sr-only" for="password">Password</label>
		    <input type="password" class="form-control" id="password" placeholder="Password">
		  </div>
		  <button type="submit" class="btn btn-primary">Sign in</button>
		</form>

	</div>					<!--admin login ends-->

	<br>

	<div class = "container">			<!--select completed units begins-->

		<center>
			
			<div class = "jumbotron" style="width:75%">

				<%= form_tag :action => "enrolment_planner" do %>

					<% @stream_units.each do |su| %>
						<% #check_box_tag(name, id, checked, option) %>
						<p><%= check_box_tag ('unit[id]['+su.id.to_s+']'), su.id, false %><%= su.unitName %></p>
					<% end %>

					<%= submit_tag "Proceed to planning", class: "btn btn-success pull-right" %>
				<% end %>

			</div>

		</center>

	</div>					<!--select completed units ends-->



	<div class = "navbar navbar-default navbar-fixed-bottom">			<!--footer nav bar begins-->

		<div class = "container">

			<p class = "navbar-text pull-left">Designed by Deshan Dissanayake</p>

		</div>

	</div>					<!--footer nav bar ends-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.js"></script>
	
	</body>
</html>
