<%= "You have selected " + @selectStream.streamName + " stream." %>
<h3>Here is the list of units of <%= @selectStream.streamName %>:</h3>

<% @stream_units.each_with_index do |unit, index| %>

<p><%=index+1%> : <%= unit.unitName %></p>
<% end %>