<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Enrolment Planner</h1>
    <p>
      Please find your study plan attachment in this email.
    </p>
    <p>
      To visit the site, just follow this link: http://ec2-54-79-21-51.ap-southeast-2.compute.amazonaws.com:3000/planner
    </p>
    <p>Please do not hesitate to contact us if you have any problem experiencing enrolment planner. </p>
	<p>Have a great day!</p>
	
	
	<p>Kind Regards</p>
	<p>Enrolment Planner Team</p>
  </body>
</html>