<div class = "navbar navbar-inverse navbar-static-top">			<!--nav bar begins-->
	<div class = "container">
		<div class = ".navbar-header">			
			<%= link_to "Enrolment Planner", planner_index_path, class: "navbar-brand" %>
			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
		</div>
		<div class = "collapse navbar-collapse navHeaderCollapse">

			<ul class = "nav navbar-nav navbar-right">
			</ul>
		</div>
	</div>
</div>
<h1>New user</h1>

<%= render 'form' %>

<%= link_to 'Back', planner_index_path %>
