<!-- Navigation bar -->
<ol class="breadcrumb">
<li><%= link_to 'Admin Portal', admin_index_path %></li>
<li><%= link_to 'Streams List', streams_path %></li>
<li><%= link_to @stream.streamName, @stream %></li>
<li class="active"><b>Edit</b></li>
</ol>
<%= render 'form' %>