<!-- Navigation bar -->
<ol class="breadcrumb">
<li><%= link_to 'Admin Portal', admin_index_path %></li>
<li><%= link_to 'Units List', units_path %></li>
<li><%= link_to @unit.unitName, @unit %></li>
<li class="active"><b>Edit</b></li>
</ol>
<%= render 'form' %>