<div class = "navbar navbar-default navbar-fixed-bottom">			<!--footer nav bar begins-->

	<div class = "container">

		<p class = "navbar-text pull-left">SEP group - Enrolment Planner</p>

	</div>

</div>					<!--footer nav bar ends-->
