<div style="clear:both;height:50px;"></div> <!-- padding div -->
<div class = "navbar navbar-default navbar-fixed-bottom">			<!--footer nav bar begins-->
	<div class = "container">
		<p class = "navbar-text pull-left">Enrolment Planner - SEP Group Copyright 2014</p>
	</div>
</div>					<!--footer nav bar ends-->