<div class="panel panel-default" id="popup" style="text-align: center; margin-top:-413px; margin-left:345px; position: absolute;">
	<table>
		<tr>
			<td><font size="1">Sem/</font></td>
			<td><font size="1">Pts/</font></td>
			<td><font size="1">PreReq</font></td>
		</tr>
		<% unless session[:remain_units].nil? %>
			<% session[:remain_units].each do |ru| %>
				<tr>
					<td><%= get_unit_sem_available(ru) %></td>
					<td><%= get_unit_credit_points(ru) %></td>
					<td><%= get_has_prereq(ru) %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>